<div id="configuration">
  <form action='/update_configuration' method='post'>
    Device: <br/><input type="text" name="device" id="device" value="<%= device %>"></input><br/>
    Speed: <br/><input type="text" name="speed" id="speed" value="<%= speed %>"></input><br/>
    Zones: <br/><textarea name="config" id="config"><%= zones %></textarea><br/>
    Nodes: <br/><textarea name="nconfig" id="nconfig"><%= nodes %></textarea><br/>
    Administrator Key: <br/><input type="text" name="key" id="key"></input><br/><br/>
    <input type='submit' value='Submit'/>
  </form>
</div>
<script type="text/javascript">keepUpdating = false;</script>
