<img id="mainpic" src="/img/raspberrypi.jpg" height="175" width="240"/>
<p id="blurb">
Ardtweeno is an application gateway which bridges serial devices to an IP network. 
The system is designed as a PaaS (platform as a service) for the 
<a href="http://raspberrypi.org">Raspberry Pi</a> ARM platform.
</p>
  
<div id="posts">
  	
  <h2>News Posts</h2>
    
  <% unless postdata.nil? %>
    <% postdata.each do |i| %>
      
      <div id="post">
        <h3 id="post-title"><%= i[:posttitle]%></h3>
          
        <p id="post-content"><%= i[:postcontent] %></p>
        <% unless i[:postcode] == '' %>
          <pre><code id="post-code"><%= i[:postcode] %></code></pre>
        <% end %>
      </div>
        
    <% end %>
  <% end %>
    
</div>
<script type="text/javascript">keepUpdating = false;</script>
