<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Ardtweeno Application Gateway</title>
  <link href="/main.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/highlightjs/styles/monokai.css" />
  
</head>
  <body>
    <div id="header">
    <div id="logo">Ardtweeno Application Gateway</div>
      <ul id="navigation">
        <% if running == true %>
		  <li><a href="">Status [<img title="Running" id="status" src="/img/glossy_green_button.svg" height="25" width="25"></img>]</a></li>
		<% else %>
		  <li><a href="">Status [<img title="Stopped" id="status" src="/img/glossy_red_button.svg" height="25" width="25"></img>]</a></li>
		<% end %>
        <li><a href="http://donttase.me/aboutme">About Me</a></li>
        <li><a href="http://donttase.me/blog">Blog</a></li>
        <li><a href="http://donttase.me/github">Github</a></li>
        <li><a href="http://donttase.me/linkedin">LinkedIn</a></li>
      </ul>
    </div>

    <div id="content">    
      <ul class="mytabs" id="tabs">
        <li class="current"><a href="/home">Home</a></li>
        <li><a href="/status">Status</a></li>
        <li><a href="/topology">Topology</a></li>
      </ul>
      <div class="mytabs-container" id="tabs-container">
        <img src="/img/ajax_preloader.gif" width="64" height="64" class="preloader" />
      </div>

    </div>
    
    <div id="footer">
  	  <hr/>
      <p id="licence">
        Unless otherwise stated, all content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Attribution-NonCommercial 3.0 Unported</a>.<br /><br /><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="/img/BY-NC.png" /></a>
      </p>
    </div>
    
    <!--<script type="text/javascript" src="/jquery/jquery-1.8.2.min.js"></script>-->
    <!--<script type="text/javascript" src="/jquery/jquery-1.9.1.min.js"></script>-->
  	<!--<script type="text/javascript" src="/jquery/jquery-2.0.1.min.js"></script>-->
	<script type="text/javascript" src="/jquery/jquery-2.0.2.min.js"></script>
	<script type="text/javascript" src="/raphael/raphael-min.js"></script>
  	<script type="text/javascript" src="/highcharts/highcharts.js"></script>
  	<script type="text/javascript" src="/main.js"></script>
  	<script type="text/javascript" src="/highlightjs/highlight.pack.js"></script>
  	<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
  	<script type="text/javascript">keepUpdating = false;</script>
  </body>
</html>