<div id="controlpanel-button-rack">
  <button onclick="configGateway('/controlpanel', '#controlpanel-response');" class="btn btn-small btn-info">Config</button>
  <button onclick="startGateway('/controlpanel', '#controlpanel-response');" class="btn btn-small btn-success">Start</button>
  <button onclick="stopGateway('/controlpanel', '#controlpanel-response');" class="btn btn-small btn-danger">Stop</button>
</div>

<pre class="alert alert-success">
  <div id="controlpanel-response" class="muted"></div>
</pre>
