<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Ardtweeno Application Gateway</title>
<link href="/css/reset.css" rel="stylesheet" media="screen">
<link href="/css/gateway-style.css" rel="stylesheet" media="screen">
<link href="/css/ardtweeno-gateway.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="page">
  <aside id="sidebar">
    <nav><a class="logo" href="/" id="nav-logo"><span>Return to</span>Ardtweeno Tech Demo</a>
      <ul>
     	<li class="active" id="nav-1"><a href="#gateway">API</a></li>
        <li id="nav-2"><a href="#topology">Topology</a></li>
        <li id="nav-3"><a href="#statistics">Statistics</a></li>
        <li id="nav-4"><a href="#twitter">Twitter</a></li>
      </ul>
      <div class="bg_bottom"></div>
    </nav>
  </aside>
  <div id="main-content">
  	<a href="https://github.com/davidkirwan/ardtweeno"><img id="fork" src="images/fork.png" alt="" /></a>
  	<section id="top"></section><!-- do not remove ;)-->
  	
    <section id="gateway">
      <header><h2></h2></header>
      <input class="control-panel-button" id="control-panel-click" value="Control Panel"/>
      <div id="control-panel-div">
	<h3>Ardtweeno Control Panel</h3>
	<div><pre id="gateway-response"></pre></div>
        <% if running == true %>
          <p>Gateway Status: <img src="images/glossy_green_button.svg" id="statusimg"></img></p>
        <% else %>
	  	  <p>Gateway Status: <img src="images/glossy_red_button.svg" id="statusimg"></img></p>
        <% end %>
        <form id="gateway-system-start">
	  <input type="hidden" name="system" value="start">
	  <input class="control-panel-button" type="submit" value="start">
	</form>
        <form id="gateway-system-stop">
	  <input type="hidden" name="system" value="stop">
	  <input class="control-panel-button" type="submit" value="stop">
	</form>
        <form id="gateway-system-config">
	  <input type="hidden" name="system" value="config">
	  <input class="control-panel-button" type="submit" value="config">
	</form>
        <form id="gateway-system-restart">
          <input type="hidden" name="system" value="restart">
	  <input class="control-panel-button" type="submit" value="restart">
	</form>
      </div>

      <div>
      	<form id="gateway-zones">
	  	  <input class="control-panel-button" type="submit" value="zones">
		</form>
	    <pre id="zones-content"></pre>
      </div>
      
      <div>
      	<form id="gateway-nodes">
	  	  <input class="control-panel-button" type="submit" value="nodes">
		</form>
	    <pre id="nodes-content"></pre>
	  </div>
	  
	  <div>
      	<form id="gateway-packets">
	  	  <input class="control-panel-button" type="submit" value="packets">
		</form>
	    <pre id="packets-content"></pre>
	  </div>
	
    </section> <!--end section-->
    
    <section id="topology">
    	<header><h2>Gateway Topology</h2></header>
  		<div id="topology-canvas"> </div>
  	</section>

    <section id="statistics">
    	<header><h2>Gateway Statistics</h2></header>
		<div id="zonestatistics"> </div>
    </section>

	<section id="twitter">
	  <header><h2>Twitter Stream</h2></header>
	  <div id="tweetbox">
		<a class="twitter-timeline" data-dnt=true href="https://twitter.com/kirwan_david" data-widget-id="298029840941064192">Tweets by @kirwan_david</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	  </div>
	</section>

  </div>
</div>
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/ardtweeno-gateway.js"></script>
<script type="text/javascript" src="/js/raphael-min.js"></script>    
<script type="text/javascript" src="/js/raphael-ardtweeno.js"></script>
<script type="text/javascript" src="/js/highcharts.js"></script>
<script type="text/javascript" src="/js/highstock.js"></script>

</body>
</html>
