<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ardtweeno example-app</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/bootstrap/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/jquery/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>  
    <script type="text/javascript" src="/raphael/raphael-min.js"></script>
    <script type="text/javascript" src="/raphael/g.raphael.js"></script>
    <script type="text/javascript" src="/raphael/g.dot.js"></script>
    <script type="text/javascript" src="/main.js"></script>

  </head>
 
  <body>
  	
  	<div class="container-fluid">
  		<div class="row-fluid">
  			<div id="navmenu" class="span2">
  				<!-- Sidebar -->
  				<ul class="nav nav-pills nav-stacked">
  					<li class="active"><a href="/">Home</a></li>
  					<li><a href="/controlpanel">Controlpanel</a></li>
  					<li><a href="#">Temp 1</a></li>
  					<li><a href="#">Temp 2</a></li>
  				</ul>
  			</div>
  			
  			<div class="span10">
  				<!-- Content -->
  				<%= yield %>
  			</div>
  		</div>
    </div>
  	
  </body>
 
</html>